/* 
    Created on : 7-Nov-2013, 10:45:27 PM
    Author     : Stephen Wiggins
*/

.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
}
.swipe-wrap {
  overflow: hidden;
  position: relative;
}
.swipe-wrap > div {
  float:left;
  width:100%;
  position: relative;
}

.frontimage{
    
    height:150px;
    width:100%;
}